* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.space {
    justify-content: space-evenly;
}

.align {
    align-items: center;
}

.max {
    width: 100%;
}

.page {
    max-width: 1920px;
    width: 100%;
}
.header {
    column-gap: 50px;
    margin: 0 375px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    margin: 10px;
}
.num {
    border: none;
    background: none;
}

.header a {
    font-family: Exo 2;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #282828;
}

.header option {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #282828;
}

.order {
    border: none;
    background: #E17F37;
    width: 170px;
    height: 42px;
}

.order a {
    font-family: Exo 2;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.bottom-links {
    height: 56px;
    background: #242425;
}

.bottom-links a {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #DFDFDF;
    text-decoration: none;

}

.bottom-links ul {
    list-style-type: none;
    column-gap: 34px;
}

.flower {
    padding: 98px 0px 176px 375px;;
    background-image: url("/img/flower.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.flower h1 {
    width: 400px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 90%;
    color: #FFFFFF;
}

.flower h4 {
    font-family: Exo 2;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.middle {
    padding-top: 80px;
    background: #F7F8F9;
    width: 100%;
}

.middle h1 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #282828;
}

.cards {
    margin: 116px 405px 0 405px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.cards div {
    width: 510px;
    height: 100%;
}
.cards img {
    margin: 20px;
    width: 70px;
    height: 70px;
}

.cards h3 {
    width: 340px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #282828;
    margin: 15px;
    border-bottom: 1px #E17F37 solid;
}

.cards p {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #282828;
    margin: 15px;

}

.gift {
    justify-content: space-evenly;
    margin: 80px auto;
    width: 1170px;
    height: 353px;
    background-image: url("/img/mramor.png");
}

.gift-text {
    width: 495px;
    height: 200px;
}

.gift h1 {
    width: 495px;
    margin: 30px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #DFDFDF;
}

.gift a {
    padding: 16px;
    margin: 30px;
    text-decoration: none;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    width: 200px;
    height: 54px;
    background: #E17F37;
}

.gift-text div {
    margin-top: 70px;
}



.mramor-s {
    background-repeat: no-repeat;
    background-image: url("/img/mramor-s.png");
    width: 370px;
    height: 293px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mramor-s img {
    margin: 10px;
}

.how-to {
    position: relative;
    padding-top: 80px;
    width: 100%;
    height: 393px;
    background-image: url("/img/mramor-white.png");
}

.how-to h1 {
    text-align: center;
    margin-bottom: 80px;
}



.how-to-text {
    width: 300px;
    text-align: center;
    flex-direction: column;
}

.how-to-text p {
    margin: 1rem;
}

.title {
    text-align: center;
    margin: 80px;
}

.stones {
    column-gap: 2rem;
    margin: 80px;
}

.stone {
    text-align: center;
    padding: 20px;
    border: 1px solid #E4E4E4;
    width: 270px;
    height: 509px;
}

.stone img {
    margin: 20px;
    width: 230px;
    height: 309px;
}

.stone h3 {
    margin-top: 10px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #282828;
}

.p-1 {
    margin: 10px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: line-through;
    color: #BEBEBE;
}

.p-2 {
    margin: 10px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #282828;
}

.stone a {
    text-decoration: none;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
   color: #282828;
}

.popular {
    text-align: center;
    padding: 80px;
}

.more {
    margin: 10px;
    border: 1px solid #E17F37;
    width: 230px;
    height: 42px;
}

.works {
    column-gap: 2rem;
    width: 100%;
    height: 674px;
    background-image: url(/img/mramor-white.png);
}

.step {
    width: 370px;
    height: auto;
}
.step h3 {
    margin: 1rem;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #282828;
}
.left div {
    margin: 100px;
}

.memo {

    width: 100%;
    background: #F7F8F9;
}
.memory {
    margin-top: 80px;
    gap: 2rem;

}
.option {
    margin-top: 80px;
    width: 570px;
    height: auto;
}

.img-one {
    position: absolute;
}

.option h1 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
     color: #282828;
}
.option p {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #282828;
    margin-top: 24px;
}

.bottom {
    column-gap: 100px;
    margin-top: 200px;
    background: #242425;
    width: 100%;
    height: 700px;
}

.bottom-option {
    width: 570px;
    height: auto;
}
.bottom-option h1 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #DFDFDF;
}

.bottom-option p {
    margin-top: 24px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #DFDFDF;
}

.bottom h3 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #DFDFDF;
    margin-top: 2rem;
    width: 500px;
}


.foot {

    background-image: url(/img/mramor.png);
}

.site a {
    margin: 30px;
    text-decoration: none;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #DFDFDF;
}

.footer {
    border-bottom: 1px #AAAAAA;
}
.footer ul {
    gap: 3rem;
    padding: 30px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer a {
    text-decoration: none;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 126%;
    color: #DFDFDF;
}

.contact {
    column-gap: 100px;
}

.contact p {
    margin: 1rem;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #DFDFDF;

}

.info {
    margin: 50px;
}

.info h2 {
    margin: 1rem;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 129%;
    letter-spacing: 0.06em;
    color: #DFDFDF;
    width: 569px;
}

.info h5 {
    margin: 1rem;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 126%;
    color: #DFDFDF;

}
.side {
    width: 470px;
}
.info a {
    padding: 15px;
    background: #E17F37;
    margin-left: 2rem;
    text-decoration: none;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.order-taxi {
    margin: 2rem;
}


.container{
    margin-top: 80px;
    height: 100%;
    padding: 0 4em;
    overflow: hidden;
}
.slider-wrap {
    overflow: hidden;
    height: 100%;
    width: 312px;
}
.swiper-container {
    width: 1400px;
    height: 100%;
}
.swiper-slide {
    width: 312px;
    /*opacity: 0.25;*/
}
.swiper-container {

}
.swiper-slide-visible {
    width: 300px;
    opacity: 1;
}


@media screen and (min-width: 320px) {

    .header {
        flex-wrap: wrap;
        margin: auto 40px;
        height: 100%;

}

    .bottom-links {
        flex-wrap: wrap;
        height: 100%;
    }

    .bottom-links ul {
        flex-wrap: wrap;
    }

    .flower {

        text-align: center;
        padding: 0px;
    }
    .cards {
        margin: 0px;
    }
    .gift {
        margin: auto;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }

    .gift-text div {
        text-align: center;
    }



    .mramor-s {
        margin: 30px;
    }

    .swiper-container {
        width: 100%;
    }

    .works {
        flex-wrap: wrap;
        height: 100%;
    }

    .works img {
        margin: 1rem;

    }

    .install {
        height: 100%;
        flex-wrap: wrap;
    }

    .memo {
        display: flex;
        flex-wrap: wrap;
        height: 100%;

    }
    .memory {

        width: 100%;
        flex-wrap: wrap;
    }

    .memory img {
        width: 100%;
    }

    .bottom {
        flex-wrap: wrap;
        height: 100%;
    }
    .bottom h3 {
       width: 100%;
    }

    .bottom-option , .bottom h3 {
        margin: 1rem;
    }

    .footer ul {
        flex-wrap: wrap;
    }

    .contact {
        flex-wrap: wrap;
    }
    .info {
        flex-wrap: wrap;
    }

    .info h2 {
        width: auto;
    }

}


@media screen and (min-width: 1920px) {

    .header {
        margin: 0 375px;
    }
    .bottom-links {
        height: 56px;
    }
    .flower {
        padding: 98px 0px 176px 375px;
        text-align: start;
    }
    .cards {
        margin: 116px 405px 0 405px;
    }
    .gift {
        margin: 80px auto;
        width: 1170px;
        height: 353px;
    }
    .works {
        height: 674px;
    }
    .memo {
        height: 100%;

        width: 100%;
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 1200px) {

    .header {
        margin: 0 375px;
    }
    .bottom-links {
        margin-top: 10px;
        height: 56px;
    }
    .flower {
        padding: 98px 0px 176px 375px;
        text-align: start;
    }
    .cards {
        margin: 116px 405px 0 405px;
    }
    .gift {
        margin: 80px auto;
        width: 1170px;
        height: 353px;
    }
    .works {
        height: 674px;
    }
    .memo {
        height: 100%;

    }

}

@media screen and (min-width: 1000px) {

    .header {
        margin: 0 3rem;
    }
    .bottom-links {
        height: 56px;
        margin-top: 10px;
    }
    .flower {
        padding: 98px 0px 176px 375px;
        text-align: start;
    }
    .cards {
        margin: 116px 405px 0 405px;
    }
    .gift {
        margin: 80px auto;
        width: 1170px;
        height: 353px;
    }
    .works {
        height: 674px;
    }
    .memo {
        height: 100%;

    }

}